<!DOCTYPE html>
<html>
<head>
  <meta charset='utf=8'>
  <link rel='stylesheet' href='/stylesheet.css'>
  <title></title>
</head>
<body>
<p><a href="/"><img src="/images/catalogue.jpg"></a></p>
  <p>
    <li><a href="/artists/new">Add Artist</a> </li>
      <li><a href="/albums/new">Add Album</a> </li>
        <li><a href="/artists">Artists</a> </li>
          <li><a href="/albums">Albums</a> </li>
            <li><a href="/library">Library</a> </li>
          </p>
        <%= yield %>
      </body>
</html>