<b>Name:</b>
<p><%= @album.name() %></p>

<a href="/albumss/<%= @album.id %>/edit">Edit</a>

<form action="/albums/<%= @album.id %>" method="post">
<input type="submit" value="Delete"/>
<input name="_method" type="hidden" value="Delete"/>
</form>
