<b>Name:</b>
<p><%= @artist.name() %></p>

<a href="/artists/<%= @artist.id %>/edit">Edit</a>

<form action="/artists/<%= @artist.id %>" method="post">
<input type="submit" value="Delete"/>
<input name="_method" type="hidden" value="Delete"/>
</form>
